<%- include('template/head.ejs') %>

<div id="app">
    <input type="hidden" id="name" value="<%= titulo %>">
</div>

<script type="text/javascript" src="/components/card/main.js"></script>

<%- include('template/footer.ejs') %>